body{
    margin: 10px;
}
#current-image-container{
    padding: 10px;
    background-color: black;
    color: white;
}
#current-image-container > img{
    max-width: 100%;
    min-width: 100%;
    max-height: 500px;
}
ul{
    text-decoration: underline;
    color: blue;
    margin-left: -36px;
    margin-top: -10px;
    list-style-type: none;
    cursor: default;
}
ul li{
    margin-bottom: 10px;
    font-weight: bold;
}
#heading{
    margin: 5px;
    font-size:40px;
}